extends layout
block content 
   div#form

      label.titulo=titulo
      br/
   
      label nombre 
      label=usuario.nombre_completo.nombre
      br/

      label primer apellido 
      label=usuario.nombre_completo.apellido_uno
      br/
               
      label segundo apellido 
      label=usuario.nombre_completo.apellido_dos
      br/
               
      label email 
      label=usuario.e_mail
      br/
      
      label password
      label   *****
