html
   head
      title=title
      meta(name="viewport" content="width=device-width, user-scalable=no")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css").
      link(href="/style.css" rel="stylesheet").
      link(href="/bootstrap-switch.min.css" rel="stylesheet").
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js').
      script(id='ext-script')
      script().
         (function(f,b){
             var c;
             f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
             f._hjSettings={hjid:10314, hjsv:3};
             c=b.createElement("script");c.async=1;
             c.src="//static.hotjar.com/c/hotjar-10314.js?sv=3";
             b.getElementsByTagName("head")[0].appendChild(c); 
         })(window,document);
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js").
      script(src="/js/bootstrap-switch.min.js").   
   body
     block content
